.App {
  margin: auto;
}

button {

  width: 30mm;
  height: 30mm;
  box-sizing: content-box;
  padding: 0mm;
  background: fixed;
  align-items: center;
}
img {
  width: 20mm;
  height: 20mm;
}

.col {
  margin: 0mm;
  margin-top: 0mm;
}

.h3,
h3 {
  margin-top: 10mm;
}

.row {
  margin: 0;
}

button.a {
  width: 30mm;
  height: 10mm;

  margin-left: 45%;
}

footer {
  vertical-align: bottom;
}
