.App {
  margin: auto;
}

button.prod{

  width: 30mm;
  height: 30mm;
  box-sizing: content-box;
  padding: 0mm;
  background: fixed;
  align-items: center;
  margin: 1mm;
}
img {
  width: 20mm;
  height: 20mm;
}

.col {
  margin: 0mm;
  margin-top: 0mm;
}

.h3,
h3 {
  margin-top: 10mm;
}

.row {
  margin: 2mm;

}

/*button.a {
  margin-top: 10mm;
  width: 30mm;
  height: 10mm;
  margin-left: 85%;
}
*/
footer {
  vertical-align: bottom;
}

.container{

  padding: 0mm;
}
Button.stok{
  width: 17mm;
  height: 17mm;
  margin: 0.5mm;
}

button.bar{
background-color: white;
color: black;
border-color: white;
}

